In [1]:
import numpy as np
from sklearn import datasets
iris = datasets.load_iris()

In [2]:
import pandas as pd
df = pd.DataFrame(data=iris['data'], columns=iris.feature_names)

In [3]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
X = iris.data
y = iris.target

In [5]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [6]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
df.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [8]:
y_setosa = np.zeros(len(y))
y_setosa[y == 0] = 1
y_setosa[y_setosa != 1] = 0

df_setosa = df

df_setosa['class'] = y_setosa
df_setosa.to_csv('df_setosa', sep=',', index=False)

In [9]:
y_versicolor = np.zeros(len(y))
y_versicolor[y == 1] = 1
y_versicolor[y_versicolor != 1] = 0

df_versicolor = df

df_versicolor['class'] = y_versicolor
df_versicolor.to_csv('df_versicolor', sep=',', index=False)

In [10]:
y_virginica = np.zeros(len(y))
y_virginica[y == 2] = 1
y_virginica[y_virginica != 1] = 0

df_virginica = df

df_virginica['class'] = y_virginica
df_virginica.to_csv('df_virginica', sep=',', index=False)